@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
    @font-face {
        font-family: 'Cabin';
        src: url('./assets/fonts/Cabin[wdth\,wght].ttf') format('truetype');
       
      }

      @font-face {
        font-family: 'Open Sans';
        src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
       
      }

      @font-face {
        font-family: 'poppins-bold';
        src: url('./assets/fonts/Poppins-Bold.ttf')format('woff2');
        
      }
    
  
      
      @font-face {
        font-family: 'poppins-light';
        src: url('./assets/fonts/Poppins-Light.ttf') format('woff2');
        
      }
      @font-face {
        font-family: 'poppins-medium';
        src: url('./assets/fonts/Poppins-Medium.ttf') format('woff2');
        
      }
      @font-face {
        font-family: 'poppins-regular';
        src: url('./assets/fonts/Poppins-Regular.ttf') format('woff2');
        
      }
      @font-face {
        font-family: 'poppins-semibold';
        src:url('./assets/fonts/Poppins-SemiBold.ttf') format('woff2');
        
      }
    
   
      
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.gradient-text1 {
  background: linear-gradient(270deg, #4172d4, black, #223b6d);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moveGradient 6s ease infinite;
}
.gradient-text2 {
  background: linear-gradient(270deg, #4172d4, black, #223b6d);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moveGradient 4s ease infinite;
}

.textr {
  background: linear-gradient(to right, #496db4, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textl {
  background: linear-gradient(to right, black, #496db4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


nav a {
  position: relative;
  text-decoration: none;
  color: #000;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #223b6d;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}


.gradientblue{ 
  background:linear-gradient(to right, #F1DFF4,#F2F4FF);
}


